.cartContainer{
    column-count: 2;
    /* margin-top: 20px; */
    margin: 0 auto;
}
@media (max-width:800px){
    .cartContainer{
        column-count: 1;
    }
}

.productContainer{
padding:4px;
margin: 0 20px;
display:inline-block;
border: 0.5px solid gray;
overflow: hidden;
}
.form{
   margin:0 1px;
   display:inline-block
}
.label{
    margin-bottom: 4px;
    font-weight: normal;
}

.cartIsEmpty{
   margin-top: 50px;
   text-align: center; 
   font-weight:lighter;
}
.backToShop{
    display: flex;
    padding:8px;
    border-radius: 12px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color:#590d22;
    color:white;  
    margin:auto;
}
.remove{
    display: flex;
    padding:6px;
    margin: 0 20px;
    border-radius: 12px;
    border-style: none;
    outline: none;
    font-weight: normal;
    background-color: red;
    color:white;
}
.clear{
    display: flex;
    margin:0 44px;
    padding:6px;
    border-radius: 12px;
    border-style: none;
    outline: none;
    font-weight: normal;
    background-color: red;
    color:white;  
}
.order, .total{
    margin:12px;
}
.finishPurchase{
    display: flex;
    margin: 0 auto;
    /* margin-top:8px; */
    padding:8px;
    border-radius: 12px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color:green;
    color: white;
}
.label{
    margin:auto;
    text-align:center;
}
