.product{
    display: flex;
    width: calc (100% - 20px);
    padding:0 2px;
    margin: auto;
}
.wrapper{
    display:flex;
    flex-direction: column;
    margin:auto;
    
}
@media (min-width:600px){
    .wrapper{
        flex-direction: row;
        align-items: center;
    }
}


.productPhoto{
    height:400px;
    width:300px;
    border-radius: 10px;
}
.productName, .productPrice{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: left;
    margin:0 5px;
}

.greeting{
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    text-align: center;
}
.welcome{
    font-family: Helvetica,Arial,sans-serif;
}
.buttonGoCart{
    display: flex;
    margin: 0 auto;
    padding:4px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: green;
    color:white;
}