.footer {
    /* width: calc(100%-30px); */
    width: 100%;
    background-color: rgba(255, 192, 203, 0.144);
    padding: 30px;
}

.footerWrapper {
    display: flex;
    flex-direction: row;
}

.footerLinks {
    text-align: left;
    margin: 6px;
    padding: 2px;
    list-style: none;
    color: rgba(0, 0, 0, 0.534);
    font-weight: 600;
    letter-spacing: 1px;
}

.footerLinks:hover {
    color: black;
}

.footerBrand {
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    font-weight: bold;
}

@media (max-width:400px) {
    .footerWrapper {
        flex-direction: column;
    }

    .footerLinks {
        text-align: center;
    }
}