.count{
    display: flex;
    align-items: center;
    justify-content:center;
    padding:0 2px;
    margin: 2px;
}
.button{
    border-radius: 20px;
    border-style: none;
    outline: none;
}
.buttonAddCart{
    display: flex;
    margin:auto;
    padding:6px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    font-weight: bold;
}
.quantity{
    padding:0 2px;
    margin:0 2px;
}
p{
    display: block;
    text-align: center;
    padding:0 2px;
    margin:0 2px; 
}