.count{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
    color:white;
    margin-bottom: 4px;
}
.button{
    background-color: black;
    border-style: none;
    padding:10px;
}
/* .buttonAddCart{
    display: flex;
    margin: 0 auto;
    padding:8px;
    border-radius: 8px;
    border-style: none;
    outline: none;
    font-weight: bold;
    background-color: green;
    color:white;
} */
.quantity{
    padding:0 1px;
    margin:0 1px;
}
p{
    display: block;
    text-align: center;
    padding:0 1px;
    margin:0 1px; 
}